<table class="table table-striped">
    <tr>
        <th>Nr</th>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Shipping Address</th>
        <th>Shipping Email</th>
        <th>Order Status
            <select ng-model="filteredStatus">
                <option value="All" ng-selected="true">Show All</option>
                <option value="Processing">Processing</option>
                <option value="Completed">Completed</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </th>
        <th></th>
    </tr>
    <div>
        <tr ng-repeat="order in orders | filter : ordersFilter" ng-click="openOrderDetail(order)">
            <td>{{$index}}</td>
            <td>{{order.user.username}}</td>
            <td>{{order.user.fullname}}</td>
            <td>{{order.shippingAddress}}</td>
            <td>{{order.shippingEmail}}</td>
            <td>{{order.orderStatus}}</td>
            <td>
                <order-action order="order"></order-action>
            </td>
        </tr>
    </div>
</table>