<table class="table table-striped">
    <tr>
        <th>Nr</th>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Shipping Address</th>
        <th>Shipping Email</th>
        <th>Order Status</th>
        <th></th>
    </tr>
    <tr ng-repeat="order in orders">
        <td>{{$index}}</td>
        <td>{{order.user.username}}</td>
        <td>{{order.user.fullname}}</td>
        <td>{{order.shippingAddress}}</td>
        <td>{{order.shippingEmail}}</td>
        <td>{{order.orderStatus}}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in createDropdownItems(order)"><a href="#">{{item}}</a></li>
                </ul>
            </div>
        </td>
        <!-- <button class="btn btn-primary btn-sm" ng-click="demoteAdminToUser(user)" ng-if="user.admin && user.email !== currentUser.email">Demote to User</button>
		<td><button class="btn btn-primary btn-sm" ng-click="resetPassword(user)" ng-if="user.email !== currentUser.email">Reset Password</button></td>
		<td><button class="btn btn-warning btn-sm" ng-click="deleteUser(user)" ng-if="user.email !== currentUser.email">Delete</button></td> -->
    </tr>
</table>
