#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.container h1 {
    color: white;
}

