<div class='col-sm-8 col-sm-offset-2'>
	<h2>{{product.title}}</h2>
	<img width="100%" ng-src="{{product.photoUrl}}">
	<h4>description: {{product.description}}</h4>
	<h4>price: {{product.price}} <span ng-show="quantitySelected()" style='float:right;'> total price: {{product.price*quantity}} </span> </h4>
	<div class='col-sm-offset-0'> 
			<h4 style='display:inline; float:left;'> quantity: </h4>
			<div class='col-sm-7'>
				<uib-pagination style='display:inline;' direction-links="false" total-items="product.quantity" ng-model="quantity" items-per-page="1"></uib-pagination>
			</div>
			<button class="btn" style='display:inline; float:right' ng-click="addToCart({
				'product': product._id,
				'quantity': quantity
			})">Add To Cart</button>
	</div>
</div>