@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.thumbnail {
    height: 300px;
 	background-size: cover;
 	background-repeat: no-repeat;
}

.glyphicon-remove {
	float: right;
	display: inline-block;
}

.popover {
    max-width: 600px;
    width: 400px;
}

.quickAdd {
    position: absolute;
    bottom: 25px;
    left: 25px;
    margin: auto;

}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(50, 50, 50, 0.50);
    width:90%;
    margin-right: 5%;
    height:30%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.thumbnail a:link {
    color: white;
}

.thumbnail a:visited {
    color: white;
}

.thumbnail .btn {
   background-color: rgba(50, 50, 50, .8);
   border-radius: 5px;
   border: 1px solid rgb(188, 150, 74);
   display: inline-block;
   cursor: pointer;
   color: #ffffff ;
   font-family: Arial;
   padding: 8px 15px;
   text-decoration: none;
}
