<div>
	<p>This is a list of cart items</p>
	<form name="ourCart">
		<table class="table table-striped">
<!-- 			<thead>
				<tr>
 					<th>
 						Item Title
 					</th>
 					<th>
 						<button class="btn" ng-click='updateCart()'>Remove Selected</button>
 					</th>
 					<th>
 						<button class="btn" ng-click='updateCart()'>Update Cart</button>
 					<th>

				</tr>
			</thead> -->
			<tbody>
				<tr ng-repeat="item in cart">
					<td>
						<div>
							<input type="checkbox"></input>
							<div style="background-image:url('{{item.product.photoUrl}}'); height:150px; width:150px">
							</div>
							<a ui-sref="product({productId: item.product._id})">{{ item.product.title }}<a>
						</div>
					</td>
					<td>
						<div>
							qty<br>
							<button class="btn" ng-click='change(item, -1)'>-</button>
							<input class="form-control" ng-model="item.quantity" style="width:50px" ng-change="update(item)"></input>
							<button class="btn" ng-click='change(item, 1)'>+</button>
							<br>
							<p>LIMIT IN STOCK {{ item.product.quantity }}</p>
						<div>
					</td>
					<td>
						Price: ${{ item.product.price }}
						<br>
						<button class="btn" ng-click='remove(item, $index)'>Remove Item</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<button class="btn" ui-sref="products">Continue Shopping</button>
	Total: ${{ total }}
</div>