<div id="outer">
<div id="cart" class="container">
	<h3>{{ itemstot }} Item(s) in your shipping cart: ${{ total }}*</h3>
	<hr>
	<form novalidate name="ourCart" class="css-form">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="item in cart" >
					<td class="left">
						<div>
							<img ng-src="{{item.product.photoUrl}}" class="img-thumbnail" height="200" width="200"/>
						</div>
					</td>
					<td width="200">
						Title: <a ui-sref="product({productId: item.product._id})">
							{{ item.product.title }} <br>
						</a>
						Description: <a ui-sref="product({productId: item.product._id})">
							{{ item.product.description.slice(0,60) }}...
						</a>
					</td>
					<td class="qtybox">
						<p>QTY</p>
						<div>
							<button type="button" class="btn btn-primary qty" ng-click='change(item, -1)'>-</button>

							<input type="text" class="form-control qty" ng-model="item.quantity" maxlength="2" name="qty" style="width:45px" ng-required="true" ng-change="update(item, $index)" ng-focus="cacheVal(item)" ng-blur="revert(item)" ng-keypress="blurOnEnter($event)"></input>

							<button type="button" class="btn btn-primary qty" ng-disabled="item.quantity === item.product.quantity" ng-click='change(item, 1, $index)'>+</button>
						</div>
						<div>
							<h6>IN STOCK LIMIT {{ item.product.quantity }}</h6>
							<p class="alert alert-warning" ng-show="item.quantity > item.product.quantity">Stock Limit <br> Exceeded</p>
						</div>
					</td>
					<td>
						
					</td>
					<td>
						Price: ${{ item.product.price }}
					</td>
					<td>
						<button type="button" class="btn btn-danger" ng-click='remove(item, $index)'>X</button>
					</td>
				</tr>
				<tr>
					<td class="left">
						<button type="button" class="btn btn-primary" ui-sref="products">Continue Shopping</button>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						Subtotal: ${{ total }}
					</td>
					<td>
						<button type="button" class="btn btn-success" ng-disabled="checkout" ui-sref="checkout">Check Out</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
</div>