<div class="container">
    <table class="table table-stripe">
        <tr>
            <th></th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="item in newOrder.purchasedItems">
            <td>
                <h3>{{item.product.title}}</h3><img ng-src="{{item.product.photoUrl}}" style="width:100%"></td>
            <td>{{item.product.description}}</td>
            <td>${{item.product.price}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.quantity * item.product.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total: get cart total</strong></td>
        </tr>
    </table>

    <form></form>

<button type="button" ng-click="checkout()" class="btn btn-primary" style="float:right">Buy</button>
</div>
