* {
  box-sizing: border-box;
}

body {
  font: 400 14px/24px Roboto, sans-serif;
  -webkit-text-size-adjust: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  margin: 0 auto;
}



h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: #21366c;
  line-height: 1;
  text-transform: uppercase;
}

h1, .heading-1 {
  font-size: 70px;
  text-transform: uppercase;
}

h2, .heading-2 {
  font-size: 30px;
  letter-spacing: 0.025em;
  line-height: 1.06;
}
@media (min-width: 768px) {
  h2, .heading-2 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  h2, .heading-2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  h2, .heading-2 {
    font-size: 60px;
  }
}

h3, .heading-3 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.025em;
}
@media (min-width: 768px) {
  h3, .heading-3 {
    font-size: 25px;
  }
}
@media (min-width: 1600px) {
  h3, .heading-3 {
    font-size: 30px;
  }
}
@media (min-width: 1760px) {
  h3, .heading-3 {
    font-size: 40px;
  }
}

h4, .heading-4 {
  font-size: 20px;
}
@media (min-width: 768px) {
  h4, .heading-4 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  h4, .heading-4 {
    font-size: 30px;
  }
}
h4 a:hover, .heading-4 a:hover {
  color: #c09551;
}

h5, .heading-5 {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
@media (min-width: 768px) {
  h5, .heading-5 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  h5, .heading-5 {
    font-size: 26px;
    line-height: 36px;
  }
}

h6, .heading-6 {
  font: 300 12px/1.5 Roboto, sans-serif;
  letter-spacing: 0.05em;
}
@media (min-width: 768px) {
  h6, .heading-6 {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  h6, .heading-6 {
    font-size: 18px;
    line-height: 30px;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'product/main';
